.header-container {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(rgb(236, 17, 199),rgb(41, 199, 133));
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Creepster', cursive;
    letter-spacing: 1px;
    margin-left: 40px;
    cursor: pointer;
  }
  .logout {
    font-size: 22px;
    font-weight: bold;
    margin-right: 40px;
    cursor: pointer;
  }